@model IEnumerable<ResearchManager.project>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ResearchLayout.cshtml";
}

<<<<<<< HEAD
<h2>@ViewBag.title</h2>
=======
<h2>@ViewBag.Title</h2>
>>>>>>> Pair-1-Marc-&-Scott

<p>
    @Html.ActionLink("Add New Project", "createProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pAbstract)
        </th>
<<<<<<< HEAD

        <th></th>
=======
>>>>>>> Pair-1-Marc-&-Scott
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectStage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pAbstract)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Details", "Details", new { id=item.projectID }) |
=======
            @Html.ActionLink("Download Expenditure File", "download", new { id=item.projectID }) |
>>>>>>> Pair-1-Marc-&-Scott
            @Html.ActionLink("Delete", "Delete", new { id=item.projectID })
        </td>
    </tr>
}

</table>
