@model IEnumerable<ResearchManager.project>
 
 @{
     ViewBag.Title = "Dashboard";
     Layout = "~/Views/Shared/_DefaultLayout.cshtml";
     }
 <h2>@ViewBag.Title</h2>
 <p>
        @Html.ActionLink("Add New Project", "CreateProject")
    
</p>
 <table class="table">
    
    <tr>
        
        <th>
                        @Html.DisplayNameFor(model => model.pName)
            
        </th>
        
        <th>
                        @Html.DisplayNameFor(model => model.dateCreated)
            
        </th>
        
        <th>
                        @Html.DisplayNameFor(model => model.projectStage)
            
        </th>
        
        <th>
                        @Html.DisplayNameFor(model => model.pDesc)
            
        </th>
        
        <th>
                        @Html.DisplayNameFor(model => model.pAbstract)
            
        </th>
        
    </tr>
    
    @foreach (var item in Model)
    {
        
    <tr>
        
        <td>
                        @Html.DisplayFor(modelItem => item.pName)
            
        </td>
        
        <td>
                        @Html.DisplayFor(modelItem => item.dateCreated)
            
        </td>
        
        <td>
                        @Html.DisplayFor(modelItem => item.projectStage)
            
        </td>
        
        <td>
                        @Html.DisplayFor(modelItem => item.pDesc)
            
        </td>
        
        <td>
                        @Html.DisplayFor(modelItem => item.pAbstract)
            
        </td>
        
        <td>
                        @Html.ActionLink("Download Expenditure File", "Download", new { projectID = item.projectID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.projectID }) |
                         @if (item.projectStage == "Awaiting Corrections")
                        {
                        @Html.ActionLink("Provide Corrections", "EditProject", new { projectID = item.projectID }, new { onclick = "return confirm('Are you sure you wish to send the project?');" })
                        }
                         @if (item.projectStage == "Awaiting Clarification")
                         {
                        @Html.ActionLink("Provide Clarification", "EditProject", new { projectID = item.projectID }, new { onclick = "return confirm('Are you sure you wish to send the project?');" })
                         }
                          @if (item.projectStage == "Awaiting Further Information")
                        {
                        @Html.ActionLink("Provide Further Information", "EditProject", new { projectID = item.projectID }, new { onclick = "return confirm('Are you sure you wish to send the project?');" })
                        }
        </td>
        
    </tr>
        }
    
    
</table>