@model ResearchManager.Models.SignInData

@{
    ViewBag.Title = "Login";

}


<body>
    <div class="loginForm">
    <div id="loginLabel">
    <h2>@ViewBag.Title</h2>
    </div>
    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            <div id="matInput">
            <p class="logLabel">Username</p>
            @Html.TextBoxFor(u => u.userID)
                </div>
            <div id="passInput">
            <p  class="logLabel">Password</p>
            @Html.PasswordFor(u => u.plntxtPass)
                </div>
            <div id="loginButton">
            <button id="logbutt" type="submit">Sign In</button>
            </div>
        </div>
        <div id="footerText">
            @ViewBag.Message
        </div>
    }
    </div>

</body>

