@model ResearchManager.Models.SignInUser

@{
    ViewBag.Title = "Login";

}


<body>

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.TextBoxFor(u => u.userID, new { @placeholder = "Username" })
            @Html.PasswordFor(u => u.plntxtPass, new { @placeholder = "Password" })
            <button type="submit">Sign In</button>
        </div>
        <div>
            @ViewBag.Message
        </div>
    }


</body>

