@model IEnumerable<ResearchManager.project>

@{
    //ViewBag.Title = "Ongoing Projects - Require Signing";
    Layout = "~/Views/Shared/_ResearchLayout.cshtml";
}

@using (Html.BeginForm("index", "RIS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Summary</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pAbstract)
        </th>
    </tr>

    @foreach (var field in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelfield => field.projectID)
            </td>
            <td>
                @Html.DisplayFor(modelfield => field.pName)
            </td>
            <td>
                @Html.DisplayFor(modelfield => field.dateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelfield => field.projectStage)
            </td>
            <td>
                @Html.DisplayFor(modelfield => field.pDesc)
            </td>
            <td>
                @Html.DisplayFor(modelfield => field.pAbstract)
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="id" value="@field.projectID" />
                        <input type="submit" value="Sign" class="btn btn-default" />
                    </div>
                </div>
                
            </td>
        </tr>
    }

</table>

}