@model IEnumerable<ResearchManager.project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RISLayout.cshtml";
}
@if (TempData["alert"] != null)
    {
<div class="alert alert-danger fade in">
    <a href="" class="close" data-dismiss="alert"></a>
    @TempData["alert"]
</div>
    }
@using (Html.BeginForm("Index", "RIS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.forename)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.forename)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { projectID = item.projectID }) |
                @Html.ActionLink("Details", "Details", new { id = item.projectID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.projectID }) |
                @Html.ActionLink("Sign", "sign", new { projectID = item.projectID })
            </td>
        </tr>
    }
    </table>
}

