@model IEnumerable<ResearchManager.project>

@{
    TempData["ActiveUser"] = TempData["ActiveUser"];
    ViewBag.Title = "Ongoing Projects - Require Signing";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@if (TempData["alert"] != null)
    {
        <div class="alert alert-danger fade in">
        <a href="" class="close" data-dismiss="alert"></a>
        @TempData["alert"]
</div>
    }
@using (Html.BeginForm("Index", "Dean", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <h3>@ViewBag.Summary</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pAbstract)
            </th>
        </tr>

        @foreach (var field in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelfield => field.pName)
                </td>
                <td>
                    @Html.DisplayFor(modelfield => field.dateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelfield => field.projectStage)
                </td>
                <td>
                    @Html.DisplayFor(modelfield => field.pDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelfield => field.pAbstract)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = field.projectID }) | 
                    @Html.ActionLink("Sign", "Sign", new { projectID = field.projectID }, new { onclick = "return confirm('Are you sure you wish to sign?');" })
                </td>
            </tr>
        }

    </table>

}